@import '~node_modules/modern-normalize/modern-normalize.css';
body.menu-open {
  overflow: hidden;
}

h1 {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 58px;
  line-height: 90.5%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}

h2 {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 58px;
  line-height: 1.14;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #d41443;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.button {
  height: 44px;
  width: 160px;
  border: 0;
  border-radius: 22px;
  margin: 0;
  background-color: #ffffff;
  font-family: "DM Sans";
  font-style: normal;
  color: #d41443;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .button {
    font-weight: 400;
    font-size: 8px;
    line-height: 1.25;
  }
}
@media screen and (min-width: 768px) {
  .button {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
  }
}
@media screen and (min-width: 1200px) {
  .button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
  }
}
.button:hover, .button:focus {
  background-color: #ecebeb;
}
.button__ico {
  transform: translateY(2px);
  stroke: #d41443;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .button:focus {
  stroke: #ffffff;
}

.header__container {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #ffb8ca;
  width: 320px;
  min-height: 36px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .header__container {
    width: 320px;
    padding: 8px 20px;
  }
}
@media screen and (min-width: 768px) {
  .header__container {
    width: 768px;
    padding: 32px 32px 0 32px;
  }
}
@media screen and (min-width: 1200px) {
  .header__container {
    width: 1200px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo--margin {
    margin-right: 128px;
  }
}
.header__nav {
  display: none;
}
@media screen and (min-width: 1200px) {
  .header__nav {
    display: block;
  }
}
.header__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .header__list {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .header__item:not(:last-child) {
    margin-right: 35px;
  }
}
.header__link {
  text-decoration: none;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__link:hover, .header__link:focus {
  color: #d41443;
}
@media screen and (max-width: 768px) {
  .header--invisible {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .header--margin {
    margin-left: auto;
  }
}
.header__burger {
  background-color: transparent;
  border: 0;
  margin-left: auto;
  cursor: pointer;
  stroke: #ffffff;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__burger-icomenu {
  width: 20px;
  height: 12px;
}
.header__burger-icoclose {
  width: 14px;
  height: 14px;
  display: none;
  z-index: 150;
}
.header__burger.is-open .header__burger-icoclose {
  display: block;
}
.header__burger.is-open .header__burger-icomenu {
  display: none;
}
.header__burger:hover, .header__burger:focus {
  stroke: #d41443;
}
@media screen and (min-width: 768px) {
  .header__burger {
    margin-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .header__burger {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .header__menu-container {
    position: fixed;
    top: 50px;
    right: 0;
    width: 250px;
    height: 100%;
    background-color: #ffb8ca;
    z-index: 100;
    display: none;
    overflow-y: scroll;
  }
  .header__menu-container.is-open {
    display: block;
  }
}

*,
::after,
::before {
  box-sizing: border-box;
}

.hero {
  margin: 0 auto;
  width: 320px;
  height: 443px;
}

.hero__container {
  position: relative;
  background-color: #ffb8ca;
  width: 320px;
  height: 443px;
  padding-left: 20px;
  overflow: hidden;
}

.hero__position {
  position: absolute;
  top: 136px;
  z-index: 15;
}

.hero__name {
  font-family: Titan One;
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 0.04em;
  margin: 0;
  width: 218px;
  text-transform: uppercase;
  color: #ffffff;
}

.hero__name--color {
  font-size: 48px;
  color: #d41443;
}

.hero__buttons {
  display: flex;
  margin-top: 20px;
}

.hero__btn {
  font-family: DM Sans;
  flex-direction: row;
  height: 24px;
  width: 82px;
  font-size: 8px;
  line-height: 1.3;
  color: #d41443;
  background-color: #ffffff;
  border-radius: 20px;
  border: none;
  justify-content: center;
  align-items: center;
}
.hero__btn:hover, .hero__btn:focus {
  background-color: #ecebeb;
}

.btn--clr {
  color: #fff;
  background-color: #d41443;
  margin-right: 8px;
  width: 62px;
}
.btn--clr:hover, .btn--clr:focus {
  color: #d41443;
}

.hero__img {
  position: absolute;
  bottom: 0;
  right: 32px;
  max-width: 171px;
  max-height: 410px;
  display: block;
  max-width: 100%;
  height: auto;
  z-index: 1;
}
.hero__img ::before {
  position: absolute;
  display: block;
  bottom: 80px;
  left: -70px;
  content: " ";
  width: 346px;
  height: 344px;
  border-radius: 50%;
  background-color: #ffa5ba;
  z-index: -1;
}

.about {
  background-color: #FFF5F6;
}
.about__container {
  max-width: 320px;
  padding: 60px 20px 40px 20px;
  margin-left: auto;
  margin-right: auto;
}
.about__desc {
  margin: 40px 0 20px 0;
  padding: 0;
  list-style: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url(../images/about/about-bg-pic_s.png);
}
.about__desc-item {
  max-width: 220px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.6;
  color: #907e82;
}
.about__desc-item--bold {
  color: #000000;
  margin-bottom: 25px;
}

.section-subtitle {
  display: block;
  font-family: "Titan One";
  font-style: normal;
  font-size: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
}

.section-title {
  margin-top: 15px;
  margin-bottom: 32px;
  font-weight: 400;
  font-size: 34px;
  line-height: 39px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.button--mode-light {
  align-items: center;
  text-align: center;
  border: none;
  font-family: inherit;
  min-width: 176px;
  min-height: 44px;
  background: #ffffff;
  border-radius: 22px;
}

.button-text {
  padding-right: 13px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.3;
  align-items: center;
  text-align: center;
  color: #D41443;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.contact__svg {
  transform: translateY(2px);
  stroke: #d41443;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.contact {
  height: 1842px;
  background: linear-gradient(180deg, rgb(255, 255, 255) 18%, rgb(255, 245, 246) 18%);
  color: #000000;
  padding-top: 30px;
  padding-bottom: 20px;
  width: 100%;
  margin: 0 auto;
}

.contact__conteiner-list {
  margin: 0 auto;
  margin-bottom: 32px;
  width: 280px;
}

.contact__item {
  background: #ffffff;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  padding: 40px;
  width: 280px;
}

.contact__item-box {
  display: block;
  padding-bottom: 24px;
  border-bottom: 1px solid #E1E1E1;
  margin-bottom: 24px;
}

.contact__margin-box {
  margin-top: 20px;
  margin-bottom: 8px;
}

.contact__strong {
  padding: 5px 30px;
  background-color: #f0d1a5;
  border-radius: 4px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  color: #ffffff;
}

.contact__strong-food {
  padding: 5px 30px;
  background: #c2e297;
  border-radius: 4px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  color: #ffffff;
}

.contact__b {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  color: #000000;
}

.contact__text {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #907e82;
}

.contact__data-box {
  padding-bottom: 16px;
  border-bottom: 1px solid #E1E1E1;
  margin-bottom: 24px;
}

.data-box__b {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  color: #000000;
}

.data-box__p {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  color: #ffb8ca;
  margin-bottom: 8px;
}

.contact__link {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #907e82;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__link:hover,
.contact__link:focus {
  color: #d41443;
}

.contact__item:not(:last-child) {
  margin-bottom: 20px;
}

.contact__box-button {
  display: block;
  text-align: center;
}

.contact__button {
  display: inline-block;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #d41443;
  background-color: #ffffff;
  width: 161px;
  height: 44px;
  border-radius: 22px;
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__button:hover,
.contact__button:focus {
  color: #ffffff;
  background-color: #d41443;
  stroke: #ffffff;
}

.contact__button:hover .contact__svg,
.contact__button:focus .contact__svg {
  stroke: #ffffff;
}

.margin__button {
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .contact {
    height: 965px;
    background: linear-gradient(180deg, rgb(255, 255, 255) 34%, rgb(255, 245, 246) 34%);
    width: 768px;
  }
  .contact__strong-food {
    font-size: 16px;
  }
  .contact__text {
    font-size: 14px;
  }
  .contact__strong {
    font-size: 16px;
  }
  .contact__b {
    font-size: 14px;
  }
  .contact {
    padding: 40px 16px 20px 16px;
    width: 768px;
  }
  .contact__conteiner-list {
    padding-left: 0;
    margin-left: 0;
    margin-bottom: 60px;
    width: 768px;
  }
  .contact__list {
    display: flex;
  }
  .contact__item {
    padding: 40px 32px;
    width: 224px;
  }
  .contact__item:not(:last-child) {
    margin-bottom: 0;
  }
  .contact__item:not(:last-child) {
    margin-right: 32px;
  }
  .contact__box-button {
    display: flex;
    justify-content: center;
  }
  .margin__button {
    margin-right: 14px;
    margin-bottom: 0;
  }
  .contact__button {
    width: 191.45px;
    height: 44px;
  }
  .contact__margin-box {
    margin-top: 32px;
    margin-bottom: 12px;
  }
  .contact__item-box {
    padding-bottom: 32px;
    margin-bottom: 32px;
  }
  .data-box__p {
    margin-bottom: 12px;
  }
  .contact__data-box {
    padding-bottom: 24px;
    margin-bottom: 32px;
  }
  .data-box__b {
    font-size: 14px;
  }
  .data-box__p {
    font-size: 14px;
  }
  .contact__link {
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .contact {
    height: 1036px;
    background: linear-gradient(180deg, rgb(255, 255, 255) 15%, rgb(255, 245, 246) 15%);
  }
  .contact__text {
    font-size: 16px;
  }
  .contact__link {
    font-size: 16px;
  }
  .contact__b {
    font-size: 16px;
  }
  .data-box__b {
    font-size: 16px;
  }
  .data-box__p {
    font-size: 16px;
  }
  .contact {
    margin: 0 auto;
    padding: 60px 16px;
    width: 1200px;
  }
  .contact__item-box {
    width: 288px;
  }
  .contact__item {
    width: 368px;
    padding: 40px;
  }
  .contact__margin-box {
    margin-bottom: 8px;
  }
  .contact__button {
    width: 198px;
    height: 44px;
  }
}/*# sourceMappingURL=index.css.map */