// body {
//   &.menu-open {
//     @media screen and (max-width: $desktop) {
//       overflow: hidden;
//     }
//   }
// }
h1 {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 58px;
  line-height: 90.5%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $color-secondary-title;
}

h2 {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 58px;
  line-height: 1.14;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $color-secondary-title;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
