<section class="about">
  <div class="about__container">
    <span class="section-subtitle">tradition and love</span>
    <h2>how it’s made?</h2>
    <ul class="about-desc">
      <li class="desc-item">
        Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
        cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
        justo fringilla.
      </li>
      <li class="desc-item">
        Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
        Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
        suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
        tincidunt.
      </li>
      <li class="desc-item">Aliquam erat volutpat. Aenean accumsan.</li>
    </ul>
    <button class="button--mode-light" type="button">Read more</button>
  </div>
</section>
