<section class="advantages">
  <div class="advantages__container">
    <h2 class="advantages__title visually-hidden">Це секція переваги</h2>
    <ul class="advantages__list">
      <li class="advantages__item">
        <h3 class="advantages__subtitle advantages__img1">721</h3>
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </li>
      <li class="advantages__item">
        <h3 class="advantages__subtitle advantages__img2">16kg</h3>
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </li>
      <li class="advantages__item">
        <h3 class="advantages__subtitle advantages__img3">84</h3>
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </li>
    </ul>
  </div>
</section>
