<section class="contact">
    <div class="contact__conteiner-list">
        <ul class="contact__list list">
            <li class="contact__item">
              <div class="contact__global-item-box">
                  <div class="contact__item-box">
                          <strong class="contact__strong">CAFE<br></strong>
                      <div class="contact__margin-box">
                          <b class="contact__b">Chicago</b>
                      </div>
                      <p class="contact__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                  </div>
                  <div class="contact__data-box">
                      <b class="data-box__b">Monday - Friday</b>
                      <p class="data-box__p">06:00 AM - 10:00 PM</p>
                      <b class="data-box__b">Saturday - Sunday</b>
                      <p class="data-box__p">08:00 AM - 16:00 PM</p>
                  </div>
                  <div class="contact-contacts">
                  <a class="contact__link link" href="tel:+610383766284">+61(0)383 766 284</a><br>
                  <a class="contact__link link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                  </div>
              </div>
            </li>
            <li class="contact__item">
              <div class="contact__global-item-box">
                <div class="contact__item-box">
                    <strong class="contact__strong-food">FOOD TRUCK<br></strong>
                    <div class="contact__margin-box">
                    <b class="contact__b">Los Angeles</b>
                    </div>
                    <p class="contact__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div class="contact__data-box">
                    <b class="data-box__b">Monday - Friday</b>
                    <p class="data-box__p">06:00 AM - 10:00 PM</p>
                    <b class="data-box__b">Saturday - Sunday</b>
                    <p class="data-box__p">08:00 AM - 16:00 PM</p>
                </div>
                <div class="contact-contacts">
                <a class="contact__link link" href="tel:+610383766284">+61(0) 383 766 284</a><br>
                <a class="contact__link link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                </div>
                </div>
            </li>
            <li class="contact__item">
              <div class="contact__global-item-box">
                <div class="contact__item-box">
                    <strong class="contact__strong">CAFE<br></strong>
                    <div class="contact__margin-box">
                    <b class="contact__b">New York</b>
                    </div>
                    <p class="contact__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div class="contact__data-box">
                    <b class="data-box__b">Monday - Friday</b>
                    <p class="data-box__p">06:00 AM - 10:00 PM</p>
                    <b class="data-box__b">Saturday - Sunday</b>
                    <p class="data-box__p">08:00 AM - 16:00 PM</p>
                </div>
                <div class="contact-contacts">
                    <a class="contact__link link" href="tel:+610383766284">+61(0) 383 766 284</a><br>
                    <a class="contact__link link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                </div>
                </div>
            </li>
        </ul>
    </div>
  <div class="contact__box-button">
        <div class="margin__button">
            <button class="contact__button">Our Locations
                <svg class="contact__svg" width="12" height="12">
                    <use href="./images/icons.svg#icon-strelka1"></use>
                </svg>
            </button>
        </div>
        <button  class="contact__button">Franchise
          <svg class="contact__svg" width="12" height="12">
            <use href="./images/icons.svg#icon-strelka1"></use>
        </svg>
        </button>
  </div>
</section>
