<section class="customer">
  <h2 id="customer" class="visually-hidden">Customer reviews</h2>
  <div class="customer-container">
    <ul class="customer-slider list">
      <li class="customer-item">
        <div class="customer-thumb">
          <img
            class="customer-photo"
            src="./images/customer/img-1_lg.png"
            alt="фото девушки с лос анджелеса"
          />
        </div>
        <div class="customer-text-box">
          <p class="customer-text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
        </div>

        <p class="customer-name">Emily, Los Angeles</p>
      </li>
      <li class="customer-item">
        <div class="customer-thumb">
          <img
            class="customer-photo"
            src="./images/customer/img-2_lg.png"
            alt="фото девушки с чикаго"
          />
        </div>

        <div class="customer-text-box">
          <p class="customer-text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
        </div>
        <p class="customer-name">Sara, Chicago</p>
      </li>
      <li class="customer-item">
        <div class="customer-thumb">
          <img
            class="customer-photo"
            src="./images/customer/img-3_lg.png"
            alt="фото девушки с нью йорка"
          />
        </div>

        <div class="customer-text-box">
          <p class="customer-text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
        </div>
        <p class="customer-name">Anna, New York</p>
      </li>
    </ul>
  </div>
</section>
