<section class="customer">
  <div class="customer-container">
    <ul>
      <li>
       <img src="./images/customer/img-1_lg.png" alt="фото девушки с лос анджелеса">
        <p>
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.
        </p>

        <p>Emily, Los Angeles</p>
      </li>
      <li>
        <img src="./images/customer/img-2_lg.png" alt="фото девушки с чикаго">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id,
          veritatis?
        </p>
        <p>Sara, Chicago</p>
      </li>
      <li>
        <img src="./images/customer/img-3_lg.png" alt="фото девушки с нью йорка">
        <p>
          Ad, repellendus quo error maiores velit nesciunt vel eum laboriosam
          illo cumque perspiciatis placeat nisi pariatur, voluptatum suscipit
          aperiam, voluptate architecto. Similique.
        </p>
        <p>Anna, New York</p>
      </li>
    </ul>
  </div>
</section>
