<footer class="footer">
  <div class="footer__container">
    <p>Це підвал</p>
  </div>
  <div class="">

    <div class="footer__slogan">
      <p>homemade ice cream made</p>
      <p>with passion</p>
    </div>

    <div class="footer__contact-info">

      <div class="footer__social-media">
        <ul class="social-media__list list">
          <li class="social-media__item">
            <a class="social-media__link link" href="" target="_blank" rel="noopener noreferrer"
                aria-label="github">
                <svg class="social-media__icon social-media__icon--white" width="20" height="20">
                    <use href="./images/icons.svg#icon-github"></use>
                </svg>
            </a>
        </li>
          <li class="social-media__item">
            <a class="social-media__link link" href="" target="_blank" rel="noopener noreferrer"
                aria-label="telegram">
                <svg class="social-media__icon social-media__icon--white" width="20" height="20">
                    <use href="./images/icons.svg#icon-telegram"></use>
                </svg>
            </a>
        </li>
          <li class="social-media__item">
            <a class="social-media__link link" href="" target="_blank" rel="noopener noreferrer"
                aria-label="facebook">
                <svg class="social-media__icon social-media__icon--white" width="20" height="20">
                    <use href="./images/icons.svg#icon-facebook"></use>
                </svg>
            </a>
        </li>
        </ul>
      </div>

      <div class="footer__phone-number">
        <a class="contact__tel link" href="tel:+380961111111">
          <span>Feel free to contact </span>+61 (0) 383 766 284
      </a>
      </div>
    </div>

    <div class="footer__copyright">
      <p>© 2022 - IceCream. All Rights Reserved. </p>
    </div>
  </div>
</footer>
