<section class="gallery">
  <div class="gallery__container">
    <h2 class="gallery__header">Це галлерея</h2>
      <ul class="">
        <li class="gallery__item">
          <a href="" >
            <picture class="gallery__image">
              <!-- <source
                  media="(min-width: 1200px)"
                  srcset="./images/gallery/desktop/,./images/gallery/desktop/"
                  type="image/webp"/>
              <source
                  media="(min-width: 1200px)"
                  srcset="./images/gallery/desktop/,./images/gallery/desktop/"
                  type="image/jpg"/> -->
              <img
                  class="gallery__image"
                  src="./images/gallery/home-pic5.jpg"
                  alt="Фото морозива"
                  width="138"
                  height="138"/>
            </picture>
              </a>
            <div class="gallery__img--interactive">
              <a></a>
            </div>
        </li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
  </div>
</section>
