<section class="gallery" id="gallery">
  <div class="gallery__container">
    <h2 class="gallery__header visually-hidden">Gallery</h2>
    <ul class="gallery__grid">
      <li class="gallery__iten--position-absolut">
        <div class="gallery__image">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/gallery/home-pic55wp.webp   1x,
                ./images/gallery/home-pic552xwp.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/gallery/home-pic55.jpg   1x,
                ./images/gallery/home-pic552x.jpg 2x
              "
              type="image/jpg"
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/gallery/tablet/home-pic55wp.webp   1x,
                ./images/gallery/tablet/home-pic552xwp.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/gallery/tablet/home-pic55.jpg   1x,
                ./images/gallery/tablet/home-pic552x.jpg 2x
              "
              type="image/jpg"
            />

            <source
              media="(min-width: 320px)"
              srcset="
                ./images/gallery/mobile/home-pic55wp.webp   1x,
                ./images/gallery/mobile/home-pic552xwp.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 320px)"
              srcset="
                ./images/gallery/mobile/home-pic55.jpg   1x,
                ./images/gallery/mobile/home-pic552x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              class="gallery__item--position1 gallery__img--interactive1"
              src="./images/gallery/home-pic55.jpg"
              alt="Фото морозива"
              width="138"
              height="138"
            />
          </picture>
        </div>
      </li>
      <li>
        <div>
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/gallery/home-pic54wp.webp   1x,
                ./images/gallery/home-pic542xwp.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/gallery/home-pic54.jpg   1x,
                ./images/gallery/home-pic542x.jpg 2x
              "
              type="image/jpg"
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/gallery/tablet/home-pic54wp.webp   1x,
                ./images/gallery/tablet/home-pic542xwp.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/gallery/tablet/home-pic54.jpg   1x,
                ./images/gallery/tablet/home-pic542x.jpg 2x
              "
              type="image/jpg"
            />

            <source
              media="(min-width: 320px)"
              srcset="
                ./images/gallery/mobile/home-pic54wp.webp   1x,
                ./images/gallery/mobile/home-pic542xwp.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 320px)"
              srcset="
                ./images/gallery/mobile/home-pic54.jpg   1x,
                ./images/gallery/mobile/home-pic542x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              class="gallery__image gallery__img--interactive2"
              src="./images/gallery/home-pic54.jpg"
              alt="Фото морозива"
              width="138"
              height="138"
            />
          </picture>
        </div>
      </li>
      <li>
        <div>
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/gallery/home-pic51bigwp.webp   1x,
                ./images/gallery/home-pic512xbigwp.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/gallery/home-pic51big.jpg   1x,
                ./images/gallery/home-pic512xbig.jpg 2x
              "
              type="image/jpg"
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/gallery/tablet/home-pic51bigwp.webp   1x,
                ./images/gallery/tablet/home-pic512xbigwp.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/gallery/tablet/home-pic51big.jpg   1x,
                ./images/gallery/tablet/home-pic512xbig.jpg 2x
              "
              type="image/jpg"
            />

            <source
              media="(min-width: 320px)"
              srcset="
                ./images/gallery/mobile/home-pic51bigwp.webp   1x,
                ./images/gallery/mobile/home-pic512xbigwp.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 320px)"
              srcset="
                ./images/gallery/mobile/home-pic51big.jpg   1x,
                ./images/gallery/mobile/home-pic512xbig.jpg 2x
              "
              type="image/jpg"
            />
            <img
              class="gallery__image__big gallery__img--interactive1"
              src="./images/gallery/home-pic51big.jpg"
              alt="Фото морозива"
              width="283"
              height="283"
            />
          </picture>
        </div>
      </li>
      <li class="gallery__iten--position-absolut">
        <div>
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/gallery/home-pic59wp.webp   1x,
                ./images/gallery/home-pic592xwp.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/gallery/home-pic59.jpg   1x,
                ./images/gallery/home-pic592x.jpg 2x
              "
              type="image/jpg"
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/gallery/tablet/home-pic59wp.webp   1x,
                ./images/gallery/tablet/home-pic592xwp.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/gallery/tablet/home-pic59.jpg   1x,
                ./images/gallery/tablet/home-pic592x.jpg 2x
              "
              type="image/jpg"
            />

            <source
              media="(min-width: 320px)"
              srcset="
                ./images/gallery/mobile/home-pic59wp.webp   1x,
                ./images/gallery/mobile/home-pic592xwp.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 320px)"
              srcset="
                ./images/gallery/mobile/home-pic59.jpg   1x,
                ./images/gallery/mobile/home-pic592x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              class="gallery__image gallery__item--position4 gallery__img--interactive2"
              src="./images/gallery/home-pic59.jpg"
              alt="Фото морозива"
              width="138"
              height="138"
            />
          </picture>
        </div>
      </li>
      <li class="gallery__iten--position-absolut">
        <div>
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/gallery/home-pic510wp.webp   1x,
                ./images/gallery/home-pic5102xwp.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/gallery/home-pic510.jpg   1x,
                ./images/gallery/home-pic5102x.jpg 2x
              "
              type="image/jpg"
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/gallery/tablet/home-pic510wp.webp   1x,
                ./images/gallery/tablet/home-pic5102xwp.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/gallery/tablet/home-pic510.jpg   1x,
                ./images/gallery/tablet/home-pic5102x.jpg 2x
              "
              type="image/jpg"
            />

            <source
              media="(min-width: 320px)"
              srcset="
                ./images/gallery/mobile/home-pic510wp.webp   1x,
                ./images/gallery/mobile/home-pic5102xwp.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 320px)"
              srcset="
                ./images/gallery/mobile/home-pic510.jpg   1x,
                ./images/gallery/mobile/home-pic5102x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              class="gallery__image gallery__item--position5 gallery__img--interactive1"
              src="./images/gallery/home-pic510.jpg"
              alt="Фото морозива"
              width="138"
              height="138"
            />
          </picture>
        </div>
      </li>
      <li class="gallery__iten--position-absolut">
        <div>
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/gallery/home-pic511wp.webp   1x,
                ./images/gallery/home-pic5112xwp.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/gallery/home-pic511.jpg   1x,
                ./images/gallery/home-pic5112x.jpg 2x
              "
              type="image/jpg"
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/gallery/tablet/home-pic511wp.webp   1x,
                ./images/gallery/tablet/home-pic5112xwp.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/gallery/tablet/home-pic511.jpg   1x,
                ./images/gallery/tablet/home-pic5112x.jpg 2x
              "
              type="image/jpg"
            />

            <source
              media="(min-width: 320px)"
              srcset="
                ./images/gallery/mobile/home-pic511wp.webp   1x,
                ./images/gallery/mobile/home-pic5112xwp.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 320px)"
              srcset="
                ./images/gallery/mobile/home-pic511.jpg   1x,
                ./images/gallery/mobile/home-pic5112x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              class="gallery__image gallery__item--position6 gallery__img--interactive2"
              src="./images/gallery/home-pic511.jpg"
              alt="Фото морозива"
              width="138"
              height="138"
            />
          </picture>
        </div>
      </li>
      <li class="gallery__iten--position-absolut">
        <div>
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/gallery/home-pic56wp.webp   1x,
                ./images/gallery/home-pic562xwp.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/gallery/home-pic56.jpg   1x,
                ./images/gallery/home-pic562x.jpg 2x
              "
              type="image/jpg"
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/gallery/tablet/home-pic56wp.webp   1x,
                ./images/gallery/tablet/home-pic562xwp.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/gallery/tablet/home-pic56.jpg   1x,
                ./images/gallery/tablet/home-pic562x.jpg 2x
              "
              type="image/jpg"
            />

            <source
              media="(min-width: 320px)"
              srcset="
                ./images/gallery/mobile/home-pic56wp.webp   1x,
                ./images/gallery/mobile/home-pic562xwp.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 320px)"
              srcset="
                ./images/gallery/mobile/home-pic56.jpg   1x,
                ./images/gallery/mobile/home-pic562x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              class="gallery__image gallery__item--position7 gallery__img--interactive1"
              src="./images/gallery/home-pic56.jpg"
              alt="Фото морозива"
              width="138"
              height="138"
            />
          </picture>
        </div>
      </li>
      <li class="gallery__iten--position-absolut">
        <div>
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/gallery/home-pic57wp.webp   1x,
                ./images/gallery/home-pic572xwp.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/gallery/home-pic57.jpg   1x,
                ./images/gallery/home-pic572x.jpg 2x
              "
              type="image/jpg"
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/gallery/tablet/home-pic57wp.webp   1x,
                ./images/gallery/tablet/home-pic572xwp.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/gallery/tablet/home-pic57.jpg   1x,
                ./images/gallery/tablet/home-pic572x.jpg 2x
              "
              type="image/jpg"
            />

            <source
              media="(min-width: 320px)"
              srcset="
                ./images/gallery/mobile/home-pic57wp.webp   1x,
                ./images/gallery/mobile/home-pic572xwp.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 320px)"
              srcset="
                ./images/gallery/mobile/home-pic57.jpg   1x,
                ./images/gallery/mobile/home-pic572x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              class="gallery__image gallery__img--interactive2"
              src="./images/gallery/home-pic572x.jpg"
              alt="Фото морозива"
              width="138"
              height="138"
            />
          </picture>
        </div>
      </li>
      <li class="gallery__iten--position-absolut">
        <div>
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/gallery/home-pic58wp.webp   1x,
                ./images/gallery/home-pic582xwp.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/gallery/home-pic58.jpg   1x,
                ./images/gallery/home-pic582x.jpg 2x
              "
              type="image/jpg"
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/gallery/tablet/home-pic58wp.webp   1x,
                ./images/gallery/tablet/home-pic582xwp.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/gallery/tablet/home-pic58.jpg   1x,
                ./images/gallery/tablet/home-pic582x.jpg 2x
              "
              type="image/jpg"
            />

            <source
              media="(min-width: 320px)"
              srcset="
                ./images/gallery/mobile/home-pic58wp.webp   1x,
                ./images/gallery/mobile/home-pic582xwp.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 320px)"
              srcset="
                ./images/gallery/mobile/home-pic58.jpg   1x,
                ./images/gallery/mobile/home-pic582x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              class="gallery__image gallery__item--position9 gallery__img--interactive1"
              src="./images/gallery/home-pic58.jpg"
              alt="Фото морозива"
              width="138"
              height="138"
            />
          </picture>
        </div>
      </li>
      <li class="gallery__iten--position-absolut">
        <div>
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/gallery/home-pic512wp.webp   1x,
                ./images/gallery/home-pic5122xwp.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/gallery/home-pic512.jpg   1x,
                ./images/gallery/home-pic5122x.jpg 2x
              "
              type="image/jpg"
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/gallery/tablet/home-pic512wp.webp   1x,
                ./images/gallery/tablet/home-pic5122xwp.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/gallery/tablet/home-pic512.jpg   1x,
                ./images/gallery/tablet/home-pic5122x.jpg 2x
              "
              type="image/jpg"
            />

            <source
              media="(min-width: 320px)"
              srcset="
                ./images/gallery/mobile/home-pic512wp.webp   1x,
                ./images/gallery/mobile/home-pic5122xwp.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 320px)"
              srcset="
                ./images/gallery/mobile/home-pic512.jpg   1x,
                ./images/gallery/mobile/home-pic5122x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              class="gallery__image gallery__item--position10 gallery__img--interactive2"
              src="./images/gallery/home-pic5122x.jpg"
              alt="Фото морозива"
              width="138"
              height="138"
            />
          </picture>
        </div>
      </li>

      <!-- <div class="gallery__img--interactive">
              <a></a>
            </div> -->
    </ul>
  </div>
</section>
