<header class="header">
  <div class="header__container">
    <div class="header__logo header__logo--margin">
      <a class="header__link" href=""
        ><img src="./images/header/logo.png" alt="ice cream"
      /></a>
    </div>
    <nav class="header__nav">
      <ul class="header__list">
        <li class="header__item">
          <a class="header__link" href="">Home</a>
        </li>
        <li class="header__item">
          <a class="header__link" href="">About us</a>
        </li>
        <li class="header__item">
          <a class="header__link" href="">How it’s made?</a>
        </li>
        <li class="header__item">
          <a class="header__link" href="">Our products</a>
        </li>
        <li class="header__item">
          <a class="header__link" href="">Contact</a>
        </li>
      </ul>
    </nav>
    <button class="button header--invisible header--margin" type="button">
      Buy now
      <svg class="button__ico" width="12" height="12">
        <use href="./images/icons.svg#icon-strelka1"></use>
      </svg>
    </button>
    <button type="button" class="header__burger">
      <svg class="button__ico" width="12" height="12">
        <use href="./images/icons.svg#strelka1"></use>
      </svg>
    </button>
  </div>
</header>
