<header class="header">
  <div class="header__container">
    <div class="header__logo header__logo--margin">
      <a class="header__link" href=""
        ><img src="./images/header/logo.png" alt="ice cream"
      /></a>
    </div>
    <nav class="header__nav">
      <ul class="header__list">
        <li class="header__item">
          <a class="header__link" href="">Home</a>
        </li>
        <li class="header__item">
          <a class="header__link" href="">About us</a>
        </li>
        <li class="header__item">
          <a class="header__link" href="">How it’s made?</a>
        </li>
        <li class="header__item">
          <a class="header__link" href="">Our products</a>
        </li>
        <li class="header__item">
          <a class="header__link" href="">Contact</a>
        </li>
      </ul>
    </nav>
    <button
      type="button"
      class="header__burger"
      aria-expanded="false"
      aria-controls="header__menu-container"
      data-menu-button
    >
      <svg width="20" height="20" aria-label="переключатель мобильного меню">
        <use
          class="header__burger-icomenu"
          href="./images/icons.svg#icon-Burger"
        ></use>
        <use
          class="header__burger-icoclose"
          href="./images/icons.svg#icon-close"
        ></use>
      </svg>
    </button>
    <button class="button header--invisible header--margin" type="button">
      Buy now
      <svg class="button__ico" width="12" height="12">
        <use href="./images/icons.svg#icon-strelka1"></use>
      </svg>
    </button>
    <div
      class="header__menu-container"
      id="header__menu-container"
      data-menu
    ></div>
  </div>
</header>
