<header class="header">
  <div class="header__container">
    <img src="./images/header/logo.png" alt="ice cream" />
    <nav class="header__nav">
      <ul class="header__list">
        <li class="header__item">Home</li>
        <li class="header__item">About us</li>
        <li class="header__item">How it’s made?</li>
        <li class="header__item">Our products</li>
        <li class="header__item">Contact</li>
      </ul>
    </nav>
    <button class="button" type="button">Buy now</button>
  </div>
</header>
