<section class="hero" id="hero">
  <div class="hero__container">
    <div class="hero__position">
      <h1 class="hero__name">
        ice cream made with <span class="hero__name--color">passion</span>
      </h1>

      <div class="hero__buttons">
        <!-- </button> -->
        <a href="#product" class="hero--id-product hero__btn btn--clr"
          >Products</a
        >
        <!-- </button> -->
        <a href="#about" class="hero--id-about hero__btn">How it’s made?</a>
      </div>
    </div>
    <div class="hero__img">
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/hero/ice-cream-l.webp     1x,
            ./images/hero/ice-cream-@2x-l.webp 2x,
            ./images/hero/ice-cream-@3x-l.webp 3x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/hero/ice-cream-m.webp     1x,
            ./images/hero/ice-cream-@2x-m.webp 2x,
            ./images/hero/ice-cream-@3x-m.webp 3x
          "
          type="image/webp"
        />

        <source
          media="(min-width: 320px)"
          srcset="
            ./images/hero/ice-cream-s.webp     1x,
            ./images/hero/ice-cream-@2x-s.webp 2x,
            ./images/hero/ice-cream-@3x-s.webp 3x
          "
          type="image/webp"
        />
        <img src="./images/hero/ice-cream-s.webp" alt="ice-cream" />
      </picture>
    </div>
    <div class="hero__part">
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/hero/big-eco-l.webp     1x,
            ./images/hero/big-eco-@2x-l.webp 2x,
            ./images/hero/big-eco-@3x-l.webp 3x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/hero/big-eco-m.webp     1x,
            ./images/hero/big-eco-@2x-m.webp 2x,
            ./images/hero/big-eco-@3x-m.webp 3x
          "
          type="image/webp"
        />
        <img src="./images/hero/big-eco-m.webp" alt="big eco" />
      </picture>
      <div class="hero__element">
        <p class="part__desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button type="button" class="hero__button--wrap"></button>
      </div>
    </div>
    <div class="hero__side">
      <div class="hero__cafe">
        <div class="hero__food hero--pstn">
          <div class="cafe__numbers">16</div>
          <span class="part__about">cafes</span>
        </div>
        <div class="hero__food hero--position">
          <div class="cafe__numbers">23</div>
          <span class="part__about">food trucks</span>
        </div>
      </div>
    </div>
    <div class="hero__photo">
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/hero/so-tasty-l.webp     1x,
            ./images/hero/so-tasty-@2x-l.webp 2x,
            ./images/hero/so-tasty-@3x-l.webp 3x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/hero/so-tasty-m.webp     1x,
            ./images/hero/so-tasty-@2x-m.webp 2x,
            ./images/hero/so-tasty-@3x-m.webp 3x
          "
          type="image/webp"
        />
        <img src="./images/hero/so-tasty-m.webp" alt="big eco" />
      </picture>
    </div>
  </div>
</section>
