<section class="hero">
  <div class="hero__container">
    <div class="hero__position">
      <h1 class="hero__name">
        ice cream made with <span class="hero__name--color">passion</span>
      </h1>
      <div class="hero__buttons">
        <button id="" class="hero__btn btn--clr">Products</button>
        <button id="" class="hero__btn">How it’s made?</button>
      </div>
    </div>
    <div class="hero__img">
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/hero/ice-cream-l.png     1x,
            ./images/hero/ice-cream-@2x-l.png 2x,
            ./images/hero/ice-cream-@3x-l.png 3x
          "
          type="image/png"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/hero/ice-cream-m.png     1x,
            ./images/hero/ice-cream-@2x-m.png 2x,
            ./images/hero/ice-cream-@3x-m.png 3x
          "
          type="image/png"
        />

        <source
          media="(min-width: 320px)"
          srcset="
            ./images/hero/ice-cream-s.png     1x,
            ./images/hero/ice-cream-@2x-s.png 2x,
            ./images/hero/ice-cream-@3x-s.png 3x
          "
          type="image/png"
        />
        <img
          src="./images/hero/ice-cream-s.png"
          alt="ice-cream"
          width=" "
          height=" "
        />
      </picture>
    </div>
  </div>
</section>
