<section class="product">
  <div class="product__container">
    <span class="sub-title">100% Natural</span>
    <h2 class="product_main-title">Products</h2>
    <ul class="product_list">
      <li class="product_item cream">
        <h3 class="product_title">ice cream</h3>
        <p class="product_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
      </li>
      <li class="product_item coffe">
        <h3 class="product_title">ice coffee</h3>
        <p class="product_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
      </li>
      <li class="product_item milkshake">
        <h3 class="product_title">milkshakes</h3>
        <p class="product_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
      </li>
    </ul>
  </div>
</section>
