<section class="product" id="product">
  <div class="product__container">
    <span class="sub-title">100% Natural</span>
    <h2 class="product_main-title">Products</h2>
    <ul class="product_list">
      <li class="product_item cream">
        <h3 class="product_title">ice cream</h3>
        <div class="thumbb">
          <p class="product_description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
        </div>
        <button type="button" class="product__button"></button>
      </li>
      <li class="product_item coffe">
        <h3 class="product_title">ice coffee</h3>
        <div class="thumbb">
          <p class="product_description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
        </div>
        <button type="button" class="product__button"></button>
      </li>
      <li class="product_item coffe2">
        <h3 class="product_title">milkshakes</h3>
        <div class="thumbb">
          <p class="product_description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
        </div>
        <button type="button" class="product__button"></button>
      </li>
    </ul>
  </div>
</section>
