.about {
    background-color: $bgc-secondary;

    &__container {
            max-width: 320px;
            padding: 60px 20px 40px 20px;
            margin-left: auto;
            margin-right: auto;

            background-repeat: no-repeat;
            background-position: 0 576px;
            background-size: contain;
            background-image: url(../images/about/about-bg-pic_s.png);

                @media only screen and (-webkit-min-device-pixel-ratio: 1.25) {
            
                background-image: url(../images/about/about-bg-pic_s@2x.png);
                // background-image: url(../images/about/about-bg-pic_s@3x.png);
            }

        }

    &__desc {
            margin: 40px 0 20px 0;
            padding: 0;
            list-style: none;
        }
    &__desc-item {
            max-width: 220px;
            font-weight: 500;
            font-size: 12px;
            line-height: 1.6;
            color: $color-secondary-text-contrast;

            &:last-child {
                margin-top: 10px;
            }
    
            &--bold {
                color: $color-secondary-text;
                margin-bottom: 25px;
            }
        }
            
}
.section-subtitle {
    display: block;
    font-family: 'Titan One';
    font-style: normal;
    font-size: inherit;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    
    color: $color-secondary-descr;
}
.section-title {
    margin-top: 15px;
    margin-bottom: 32px;

    font-weight: 400;
    font-size: 34px;
    line-height: 39px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: $color-secondary-title;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.button--mode-light {
    align-items: center;
    text-align: center;
    border: none;
    font-family: inherit;
    min-width: 176px;
    min-height: 44px;
    background: $bgc-buttons;
    border-radius: 22px;
}
.button-text {
    padding-right: 13px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.3;
    align-items: center;
    text-align: center;
    
    color: #D41443;
}
