/**
  |============================
  | Сброс стилей
  |============================
*/

p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/**
  |============================
  | Mobile styles
  |============================
*/

.customer {
  padding-top: 60px;
  padding-bottom: 30px;
}

.customer-container {
  width: $mobile;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  background-color: $color-primary;
}

.customer-slider {
  list-style: none;
}

.customer-thumb {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

.customer-photo {
  border-radius: 44px;
  border: transparent;
}

.customer-bck-color {
  position: relative;
  z-index: -10;
  background-color: #fafafa;

  margin-bottom: 36px;
}

.customer-text-box {
  padding-top: 43px;
  padding-bottom: 17px;

  margin-left: auto;
  margin-right: auto;

  width: 180px;

  &::before {
    content: '';
    z-index: -9;
    position: absolute;
    top: 30px;
    left: 53px;
    width: 54px;
    height: 40px;
    background-image: url(../images/customer/elements/quotation.png);
  }
}

.customer-text {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  user-select: none;
  width: 157px;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.5;

  color: #000000;

  
  background-image: repeating-linear-gradient(
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0) 28px,
    #e1e1e1 28px,
    rgba(0, 0, 0, 0) 30px
  );
}

.customer-name {
  position: relative;
  user-select: none;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 2.1;

  text-align: center;

  color: #000000;

  &::after {
    content: '';
    position: absolute;
    left: 124px;
    top: -16px;

    background-repeat: no-repeat;

    width: 32px;
    height: 4px;

    background-image: url(../images/customer/elements/Group\ 8.png);
  }
}

/**
  |============================
  | Tablet Styles
  |============================
*/

@media screen and (min-width: $tablet) {
  .customer {
    padding-top: 30px;
    padding-bottom: 40px;
  }

  .customer-container {
    width: $tablet;

    padding-left: 74px;
    padding-right: 74px;
  }

  .customer-thumb {
    margin-bottom: 20px;
  }

  .customer-bck-color {
    margin-bottom: 24px;
  }

  .customer-text-box {
    padding-top: 37px;
    padding-bottom: 44px;
    width: 608px;

    &::before {
      content: '';
      top: 20px;
      left: 17px;
    }
  }

  .customer-text {
    width: 514px;

    font-size: 14px;
    line-height: 2.1;

   
    background-image: repeating-linear-gradient(
      rgba(0, 0, 0, 0) 0,
      rgba(0, 0, 0, 0) 27px,
      #e1e1e1 28px,
      rgba(0, 0, 0, 0) 29px
    );
  }

  .customer-name {
    margin-bottom: 17px;
    font-size: 16px;
    line-height: 1.9;

    &::after {
      content: '';

      left: 294px;
      top: -16px;
    }
  }
}

/**
  |============================
  | Desctop Styles
  |============================
*/

@media screen and (min-width: $desktop) {
  .customer {
    padding-bottom: 60px;
  }

  .customer-container {
    width: $desktop;

    padding-left: 116px;
    padding-right: 116px;
  }

  .customer-thumb {
    margin-bottom: 16px;
  }

  .customer-bck-color {
    margin-bottom: 36px;
  }

  .customer-text-box {
    width: 968px;
    padding-top: 47px;
    padding-bottom: 39px;

    
   

    &::before {
      content: '';
      top: 31px;
      left: 82px;
    }
  }

  .customer-text {
    width: 750px;

    font-size: 16px;
    line-height: 1.9;

    background-image: repeating-linear-gradient(
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0) 28px,
    #e1e1e1 28px,
    rgba(0, 0, 0, 0) 30px
  );
  }

  .customer-name {
    font-size: 20px;

    &::after {
      content: '';

      left: 468px;
      top: -16px;
    }
  }
}

/**
  |============================
  | SLICK SLIDER
  |============================
*/
.slick-track {
  display: flex;
}
.slick-list {
  overflow: hidden;
}

.slick-dots {
  list-style: none;
  display: flex;

  justify-content: center;
  border: 0;
}

.slick-dots button {
  position: relative;
  border: transparent;
  font-size: 0;
  height: 12px;
  border-radius: 50%;
  background: #d9d9d9;
  cursor: pointer;
}

.slick-dots li:not(:last-child) {
  margin-right: 18px;
}

.slick-active button {
  background-image: url(../images/customer/elements/house_sm.svg);
  background-color: $color-secondary-text-contrast-product;
  border-radius: 0;
  background-repeat: no-repeat;
  background-size: contain;
  user-select: none;

  @media screen and (min-width: $tablet) {
    background-image: url(../images/customer/elements/house_md.svg);
  }

  @media screen and (min-width: $desktop) {
    background-image: url(../images/customer/elements/house_lg.svg);
  }
}
