.header {
  &__container {
    position: relative;
    display: flex;
    align-items: center;

    background-color: $bgc-primary;
    width: $mobile;
    // border: 1px dotted red;
    min-height: 36px;
    margin: 0 auto;
    @media screen and (max-width: $tablet) {
      width: $mobile;
      padding: 8px 20px;
    }
    @media screen and (min-width: $tablet) {
      width: $tablet;
      padding: 32px 32px 0 32px;
    }
    @media screen and (min-width: $desktop) {
      width: $desktop;
    }
  }
  &__logo {
    &--margin {
      @media screen and (min-width: $desktop) {
        margin-right: 128px;
      }
    }
  }
  &__nav {
    display: none;
    @media screen and (min-width: $desktop) {
      display: block;
      //   padding: 37px 16px 0 16px;
    }
  }
  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;

    color: $color-primary;

    @media screen and (min-width: $desktop) {
      display: flex;
    }
  }
  &__item {
    &:not(:last-child) {
      @media screen and (min-width: $desktop) {
        margin-right: 35px;
      }
    }
  }
  &__link {
    text-decoration: none;
    color: $color-primary;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: $color-primary-hover;
    }
  }
  &--invisible {
    @media screen and (max-width: $tablet) {
      display: none;
    }
  }
  &--margin {
    @media screen and (min-width: $desktop) {
      margin-left: auto;
    }
  }
  &__burger {
    &-icomenu {
      width: 20px;
      height: 12px;
    }
    &-icoclose {
      width: 14px;
      height: 14px;

      display: none;
      z-index: 150;
    }
    &.is-open {
      .header__burger-icoclose {
        display: block;
      }
      .header__burger-icomenu {
        display: none;
      }
    }
    background-color: transparent;
    border: 0;
    margin-left: auto;

    cursor: pointer;

    stroke: $color-primary;
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      stroke: $color-primary-hover;
    }
    @media screen and (min-width: $tablet) {
      margin-right: 32px;
    }
    @media screen and (min-width: $desktop) {
      display: none;
    }
  }
}
