.header-hero {
  background-color: $bgc-primary;
  &__container {
    width: $mobile;
    height: 502px;
    margin: 0 auto;
    padding: 0;
    @media screen and (max-width: $tablet) {
      width: $mobile;
    }
    @media screen and (min-width: $tablet) {
      width: $tablet;
      height: 416px;
    }
    @media screen and (min-width: $desktop) {
      width: $desktop;
      height: 664px;
    }
  }
  &__title {
    display: none;
  }
}
